.control-block {
    margin-bottom: 8px;
    padding: 5px;
    user-select: none;
    text-align: left;
}

.control-block input[type="text"],
.control-block input[type="number"],
.control-block input[type="range"],
.control-block select {
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 1px solid #808080;
    padding: 0;
    background: transparent;
    color: #000;
}

.control-block input[type="text"]:disabled,
.control-block input[type="number"]:disabled,
.control-block input[type="range"]:disabled,
.control-block select:disabled {
    color: #aaa;
    border-color: #aaa;
    pointer-events: none;
}

.control-block input[type="number"].half {
    width: 48%;
}

.control-block input[type="text"]:focus,
.control-block input[type="range"],
.control-block input[type="number"]:focus,
.control-block select:focus {
    outline: none;
    border-bottom: 1px solid #0062cc;
}

.control-block input[type="text"]:enabled:hover,
.control-block input[type="range"],
.control-block input[type="number"]:enabled:hover,
.control-block select:enabled:hover {
    outline: none;
    border-bottom: 1px solid #0062cc;
}

.control-block input[type="submit"] {
    background: #007bff;
    color: #fff;
    padding: 8px 6px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
}

.control-block input[type="submit"]:focus {
    border-color: #0062cc;
}

.control-block input[type="submit"]:enabled:hover {
    background: #0062cc;
    border-color: #0062cc;
    cursor: pointer;
}

.control-block input[type="submit"]:disabled {
    background: #ddd;
    border-color: #ddd;
    color: #aaa;
}

.control-block input:disabled + label {
    color: #aaa;
}

.control-block hr {
    margin-top: 0;
}

.control-block .range-label {
    text-align: center;
    font-size: 0.9em;
}

.control-block input[type="range"]:disabled > .range-label {
    color: #aaa;
}


.controls-section {
    border-top: 1px solid #000;
}

.controls-section .header {
    padding: 5px;
    font-weight: bold;
    font-size: 1.15em;
    cursor: pointer;
}
