.generator {
    display: table;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 0 auto;
    position: relative;
}

.controls {
    display: table-cell;
    width: 280px;
    vertical-align: top;
    padding-top: 10px;
    background: #e9ecef;
}

.view {
    display: table-cell;
    width: min(85vh, 50vw);
    vertical-align: top;
    padding: 10px 5px;
}

.generator input, .generator select, .generator label {
    font-family: Ubuntu;
    font-size: 18px;
}

.view canvas {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.centered {
    text-align: center !important;
}

.no-top-padding {
    padding-top: 0 !important;
}

.no-margin {
    margin: 0;
}

.drag-drop {
    background: #e9ecef88;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 2.5em;
    color: #0062cc;
    pointer-events: none;
    user-select: none;
}

.drag-drop-table {
    display: table;
    height: 100%;
    width: 100%;
}

.drag-drop-table div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 600px) {
    .generator {
        display: block;
    }

    .view, .controls {
        display: block;
        width: auto;
    }
}
