.generator {
    display: table;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 0 auto;
}

.controls {
    display: table-cell;
    width: 280px;
    vertical-align: top;
    padding-top: 10px;
    background: #e9ecef;
}

.view {
    display: table-cell;
    width: min(85vh, 50vw);
    vertical-align: top;
    padding: 10px 5px;
}

.generator input, .generator select, .generator label {
    font-family: Ubuntu;
    font-size: 18px;
}

.view canvas {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.centered {
    text-align: center !important;
}

.no-top-padding {
    padding-top: 0 !important;
}

.no-margin {
    margin: 0;
}

@media (max-width: 600px) {
    .generator {
        display: block;
    }

    .view, .controls {
        display: block;
        width: auto;
    }
}
